/* MENU LAYOUT */
nav {
    width: 296px;
    height: 100vh;
}

.sideBar {
    min-width: 300px;
    padding: 32px;
    height: 100%;
    background: #EDF4EE;
    position: fixed;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 3;
}

.sideBar ul {
    list-style: none;
    padding-inline-start: 0px;
}
.logo {
    margin-bottom: 32px;
    display: block;
}
.sideBar li {
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    transition: .3s;
}

.sideBar li a{
    display: flex;
    align-items: center;
    transition: .3s;
}
.sideBar li:hover::before{    
    content:'';
    display:block;
    border-left: 4px solid #2A8356;
    width: 4px;
    height: 32px;
    position:absolute;
    left: 0;
    transition:.3s;
    /* border-left: solid 4px;
    margin-left: 0; */
}
main {
    width: calc(100% - 300px);
    padding: 12px 32px;    
    right: 0;
}
header{
    padding: 32px 0;
}
.user {
    bottom: 32px;    
}
.user img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 30px;
}

.action .btn{
    border: 1px solid #CDDDCD;
    padding: 8px 32px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    border-radius: 2px;
}

.mt-15{
    margin-top: 15px;
}